.login--box{
	background-color: white;
	text-align: center;
	padding: 20px;
	margin-top: 50%;
}

.login--logo{
	margin-bottom: 20px;
	margin-top: -90px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color: white
}

.form-control {
	border-radius: 0px;
	box-shadow: none;
	color: black;

	&:focus {
		box-shadow: none;
		border-color: gray;
		border-left: 3px solid lighten(black, 5%);
	}
}
.style-4 input[type="text"].focus {
  border-bottom: solid 2px #969696;
}

.style-4 input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
